@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
*{
  font-family: 'Montserrat', sans-serif;
  font-size: large;
}
:root {
  --blue: #080066;
  --red: #B00;
  --gold: #f0ad4e;
  --notsogray: #EDEDED;
  --gray: #DEDEDE;
  --grayer: #CDCDCD;
  --grayest: #BCBCBC;
  --disabled: #555;
  --invisible: #00000000;
  --big-text: clamp(36px, min(10vh, 3vw), 56px);
  --medium-text: clamp(24px, min(5vh, 2vw), 30px);
  --small-text: clamp(18px, min(3vh, 1.4vw), 20px);
  --smaller-text: clamp(16px, min(2vh, 1.2vw), 18px);
}

#question-img {
  width: 100%;
  height: 100%;
  display: flex;
  object-fit: cover;
  cursor: pointer;
  pointer-events: auto;
  margin:auto;
}

button {
  background: linear-gradient(transparent,rgba(0, 0, 0, 0.2)) top/100% 800%;
  transition:0.3s;
}
button[disabled]{
  cursor: default;
}
button:hover:not([disabled]) {
  background-position:bottom;
}
.acmc{
  text-align: center;
  font-size: 80px;
  padding-bottom: 20px;
  color: var(--blue);
}
#login-square{
  background-color: aliceblue;
  border-radius: 50px;
  box-shadow: 0px 0px 15px grey;
  padding: 5vh 5vw;
  width: 30vw;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
}
#login-button{  
  margin:auto;
  border: none;
  border-radius: 15px;
  background-color: #F0152F;
  padding: 14px 0px;
  margin-top: 10px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  color: white;
  font-size: x-large;
  display: block;
  width: 100%;
  box-shadow: 0px 2px 5px grey;
}
ul{
  font-size: large;
}
#feedbackBtn{
  display: block;
  width: 100%;
  margin: auto;
  border: none;
  border-radius: 15px;
  background-color: #F0152F;
  padding: 14px 0px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  color: white;
  font-size: larger;
}
.btnDisable{
  display: block;
  width: 100%;
  margin: auto;
  margin-top: 5%;
  border: none;
  border-radius: 15px;
  background-color: #F0152F;
  padding: 14px 0px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  color: white;
  font-size: larger;
}
#instruct-square{
  background-color: aliceblue;
  border-radius: 50px;
  box-shadow: 0px 0px 15px black;
  padding: 3vh 5vw;
  width: 30vw;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
}
#finish-square{
  background-color: aliceblue;
  border-radius: 50px;
  box-shadow: 0px 0px 15px black;
  padding: 3vh 3vw;
  width: 30vw;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
}
.form-title{
  
  padding-top: 5px;
}
.form-input{
  width: 100%;
}
input{
  padding: 14px;
  width: 100%;
  border: 2px solid grey;
  border-radius: 10px;
}
.button{
  font: 1em 'Josefin Sans', sans-serif;
  background-color: grey;
  color:white;
  display:inline-block;
  padding:20px;
  box-align:center;
}
.title{
  font: 1em 'Josefin Sans', sans-serif;
  background-color: grey;
  color:white;
  display:inline-block;
  padding:20px;
  box-align:center;
}
.loader {
  display:flex;
  margin:auto;
  border: 2px solid transparent; 
  border-top: 2px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1.8s linear infinite;
  -webkit-animation: spin 1.8s linear infinite;
}
.loader:before {
  content: "";
  position: absolute;
  border-radius: 50%;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  border: 2px solid transparent;
  border-top: 2px solid #e74c3c;
  animation: spinOpp 0.8s linear infinite;
  -webkit-animation: spinOpp 0.8s linear infinite;
}
.loader:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  top: 9px;
  left: 9px;
  right: 9px;
  bottom: 9px;
  border: 2px solid transparent;
  border-top: 2px solid #f9c922;
  animation: spin 3s linear infinite;
  -webkit-animation: spin 3s linear infinite;
}
@-webkit-keyframes spin {
  0%   {
      -webkit-transform: rotate(0deg); 
      -ms-transform: rotate(0deg);  
      transform: rotate(0deg); 
  }
  100% {
      -webkit-transform: rotate(360deg);  
      -ms-transform: rotate(360deg); 
      transform: rotate(360deg);
  }
}
@keyframes spin {
  0%   {
      -webkit-transform: rotate(0deg); 
      -ms-transform: rotate(0deg); 
      transform: rotate(0deg); 
  }
  100% {
      -webkit-transform: rotate(360deg); 
      -ms-transform: rotate(360deg);  
      transform: rotate(360deg); 
  }
}
@-webkit-keyframes spinOpp {
  0%   {
      -webkit-transform: rotate(0deg); 
      -ms-transform: rotate(0deg);  
      transform: rotate(0deg); 
  }
  100% {
      -webkit-transform: rotate(-360deg);  
      -ms-transform: rotate(-360deg); 
      transform: rotate(-360deg);
  }
}
@keyframes spinOpp {
  0%   {
      -webkit-transform: rotate(0deg); 
      -ms-transform: rotate(0deg); 
      transform: rotate(0deg); 
  }
  100% {
      -webkit-transform: rotate(-360deg); 
      -ms-transform: rotate(-360deg);  
      transform: rotate(-360deg); 
  }
}
#head{
  font: 1em 'Josefin Sans', sans-serif;
  background-color: white;
  color:black;
  padding:10px 0px;
  position:fixed;
  top: 0;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  height:50px;
}
#tail{
    box-sizing: border-box;
    
    background-color: grey;
    color:white;
    display:inline-block;
    padding:10px;
    width: 100%;
    text-align: center;
    margin-top: 5px;
}
#timer{
  padding: 10px;
  height:20px;
  display: flex;
  justify-content: flex-start;
  flex:1;
  
}
.question-num{
  position:relative;
  top:-53vh;
  width:200px;
  padding: 15px 5px;
  border-radius: 10px;
  background-color: #001f5b;
  margin: auto;
  color: white;
  vertical-align: middle;
  box-shadow: 0px 5px 5px grey;
}
.question-box{
  width:100%;
  height: 50vh;
  padding: 15px 5px;
  border-radius: 10px;
  border-width: 1px;
  box-shadow: 0px 2px 5px grey;
  background-color: white;
  margin: auto;
  color: white;
  vertical-align: middle;
  top: 50px;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.option{
  height: 30px;
  width: 30px;
  appearance: none;
  border: 1px solid black;
  border-radius: 5px;
  border-width: 1px;
  box-shadow: 0px 2px 5px #555555;
  margin: 0 10px;
  padding:5px;
  align-items: center;
  background-clip: content-box;
  cursor: pointer;
}
input[type="checkbox"]:checked {
	background-color: #555555;

}
#save{
  display: block;
  width: 150px;
  border: none;
  border-radius: 10px;
  background-color: #F0152F;
  padding: 14px 0px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  margin: 0 20px;
  color: white;
  box-shadow: 0px 2px 5px grey;
}

#nextBtn{
  display: block;
  width: 150px;
  border: none;
  border-radius: 10px;
  background-color: #F0152F;
  padding: 14px 0px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  margin: 0 20px;
  color: white;
  box-shadow: 0px 2px 5px grey;
}
.qnum-box{
  height: 35px;
  width:35px;
  border-radius: 5px;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  padding: 5px;
  padding-top: 4px;
  margin: 10px 5px;
  cursor: pointer;
}
#submit{
  width: 100px;
  height:30px;
  border: none;
  border-radius: 10px;
  background-color: #10E044;
  padding: 5px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  margin: 10px 20px;
  color: black;
  box-shadow: 0px 2px 5px grey;
}
.option-wrap{
  margin: 0 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#bar{
  background-color: #555555;
  width: 150px;
  height: 20px;
  border-radius: 3px;
}
#progress{
  height: 20px;
  width: 150px;
  background-color: #001f5b;
  content: "";
  float: left;
  border-radius: 3px;
}
.dimmer {
    background: #000;
    opacity: 0.5;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
}
.popup{
  display: block;
  opacity: 1;
  background-color: #ffffff;
  color: black;
  text-align: center;
  border-radius: 30px;
  padding: 20px 30px 30px;
  position: absolute;
  z-index: 101;
  top: 5%;
  left: 50%;
  margin:auto;
  transform: translateX(-50%);
}
.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s linear;
}
.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.3s, opacity 0.3s linear;
}
.confirm{
  width:100px;
  border-radius: 5px;
  border-width: 0px;
  border-style: solid;
  padding: 5px;
  padding-top: 4px;
  margin: 10px 5px;
  cursor: pointer;
  box-shadow: 0px 2px 5px grey;
}