@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --blue: #080066;
    --red: #d73a49;
    --gold: #f0ad4e;
    --gray: #DDDDDD;
}

body {
    padding-top: 7%;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    background-color: var(--blue);
}

i {
    margin: 6px;
}

a {
    text-decoration: none;
    color: var(--gold);
}

a span {
    color: var(--gold);
    cursor: pointer;
    background: 
      linear-gradient(currentColor 0 0) 
      0 100% /var(--d, 0) 1px 
    no-repeat;
    transition:0.2s;
}

a span:hover {
    --d: 100%;
}

h1 {
    font: 44px 'Montserrat', sans-serif;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 900;
    color: #fff;
}

h2 {
    font: 20px 'Montserrat', sans-serif;
    margin-bottom: 20px;
    font-weight: 800;
    color: #fff;
}

p {
    color: #fff;
    font: 18px 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: center;
}

button {
    font: 20px 'Montserrat', sans-serif;
    width: 100%;
    height: max-content;
    padding: 12px;
    background-color: var(--blue);
    text-align: center;
    color: var(--gold);
    font-weight: 600;
    border: none;
    transition: background-color 0.2s ease;
    border-radius: 6px;
}

button:disabled {
    color: var(--disabled);
}

button span {
    background: 
      linear-gradient(currentColor 0 0) 
      0 100% /var(--d, 0) 3px 
    no-repeat;
    transition:0.4s;
}

button:hover:enabled {
    background-color: var(--gold);
    color: var(--blue);
    --d: 100%;
}

#signin {
    margin: auto;
    max-width: 800px;
    padding: 20px;
    border-radius: 6px;
    color: #fff;
}

.form-input {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 10px 0 0;
    padding: 0px;
    border-radius: 6px;
    align-items: center;
    gap: 6px;
}

.form-input input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #fff;
    outline: none;
    font: 16px Helvetica, Arial, sans-serif;
}

.form-input input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.smalllink {
    display: flex;
    justify-content: end;
    margin-top: 6px;
    font-size: 14px;
}

.smalllink i {
    margin: 0px;
}

.error p {
    min-height: 12px;
    color: var(--blue);
    text-align: center;
}

.sidebar {
    background-color: var(--gold);
    width: 20%;
}

